.env
.env.*
venv/
.venv/
__pycache__/
*.pyc
*.log
cli_commands.txt
infra/tfplan
*:Zone.Identifier
.azure/
/.azure
/.azure/
commands.sh
/public/manifest.json
manifest.json
/ms_teams/assets/manifest.json
/ms_teams/app_package/*.zip
