CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=

DATABRICKS_SPACE_ID=
DATABRICKS_HOST=
DATABRICKS_CLIENT_ID=
DATABRICKS_CLIENT_SECRET=
DATABRICKS_OAUTH_SCOPES=all-apis sql offline_access

# Optional: try use always Service Principal Oauth instead of PAT.This is here just to backwards compatibility
DATABRICKS_TOKEN=