# --- Terraform working directories & states ---
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# --- Crash logs ---
crash.log

# --- Override files (local-only) ---
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- Backups ---
*.backup

# --- Local variables ---
terraform.tfvars
*.tfvars.json

# --- Terraform plans ---
*.tfplan

# --- Secrets & sensitive outputs ---
secrets/

# --- Custom ignores (verify before keeping) ---
**/*.Identifier
*.json
